*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#4facfe,#00f2fe);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;
}

.container{

    width:90%;

    max-width:850px;

    background:white;

    padding:35px;

    border-radius:15px;

    box-shadow:0px 10px 30px rgba(0,0,0,0.2);
}

h1{

    text-align:center;

    color:#333;

    margin-bottom:30px;
}

label{

    display:block;

    margin-top:20px;

    margin-bottom:8px;

    font-weight:bold;

    color:#444;
}

input[type=file]{

    width:100%;

    padding:12px;

    border:2px solid #ddd;

    border-radius:8px;

    cursor:pointer;
}

textarea{

    width:100%;

    padding:15px;

    border-radius:10px;

    border:2px solid #ddd;

    resize:vertical;

    font-size:15px;

    outline:none;

    transition:0.3s;
}

textarea:focus{

    border-color:#007bff;
}

button{

    width:100%;

    margin-top:25px;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#007bff;

    color:white;

    font-size:18px;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    background:#0056b3;
}

.result{

    margin-top:40px;
}

.progress{

    width:100%;

    background:#ddd;

    border-radius:25px;

    overflow:hidden;

    margin-top:15px;

    margin-bottom:30px;
}

.progress-bar{

    height:30px;

    background:linear-gradient(to right,#28a745,#00c851);

    color:white;

    text-align:center;

    line-height:30px;

    font-weight:bold;

    transition:1s;
}

.stats{

    display:flex;

    justify-content:space-between;

    gap:15px;

    margin-bottom:30px;

    flex-wrap:wrap;
}

.card{

    flex:1;

    min-width:170px;

    background:#f8f9fa;

    border-radius:12px;

    padding:20px;

    text-align:center;

    box-shadow:0px 4px 10px rgba(0,0,0,0.1);

    transition:.3s;
}

.card:hover{

    transform:translateY(-5px);
}

.card h3{

    color:#007bff;

    font-size:32px;

    margin-bottom:10px;
}

.section{

    margin-top:25px;
}

.section h2{

    margin-bottom:12px;

    color:#333;
}

ul{

    padding-left:20px;
}

li{

    margin-bottom:10px;

    font-size:16px;
}

.found{

    color:green;

    font-weight:bold;
}

.missing{

    color:red;

    font-weight:bold;
}

.suggestion{

    color:#444;
}

@media(max-width:700px){

.stats{

    flex-direction:column;
}

.card{

    width:100%;
}

.container{

    padding:20px;
}

h1{

    font-size:28px;
}

}