<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>📄 AI Resume Analyzer</h1>

    <form method="POST" enctype="multipart/form-data">

        <label><b>Upload Resume (PDF)</b></label>

        <input type="file"
               name="resume"
               accept=".pdf"
               required>

        <label><b>Paste Job Description</b></label>

        <textarea
            name="job_description"
            rows="10"
            placeholder="Paste the Job Description here..."
            required></textarea>

        <button type="submit">
            Analyze Resume
        </button>

    </form>

    {% if ats_score > 0 %}

    <div class="result">

        <h2>ATS Score</h2>

        <div class="progress">

            <div class="progress-bar"
                 style="width: {{ ats_score }}%;">

                {{ ats_score }}%

            </div>

        </div>

        <div class="stats">

            <div class="card">

                <h3>{{ total_found }}</h3>

                <p>Total Skills Found</p>

            </div>

            <div class="card">

                <h3>{{ matched }}</h3>

                <p>Matched Skills</p>

            </div>

            <div class="card">

                <h3>{{ missing_skills|length }}</h3>

                <p>Missing Skills</p>

            </div>

        </div>

        <div class="section">

            <h2>✅ Skills Found</h2>

            <ul>

                {% for skill in found_skills %}

                <li class="found">
                    {{ skill }}
                </li>

                {% endfor %}

            </ul>

        </div>

        <div class="section">

            <h2>❌ Missing Skills</h2>

            <ul>

                {% for skill in missing_skills %}

                <li class="missing">
                    {{ skill }}
                </li>

                {% endfor %}

            </ul>

        </div>

        <div class="section">

            <h2>💡 Suggestions</h2>

            <ul>

                {% for suggestion in suggestions %}

                <li class="suggestion">
                    {{ suggestion }}
                </li>

                {% endfor %}

            </ul>

        </div>

    </div>

    {% endif %}

</div>

</body>

</html>